<div class="bg-gray-900">
  <div class="relative">
    <img
      class="hover:cursor-pointer hover:scale-105 transition duration-300 ease-in-out hover:border-white border-2 border-transparent rounded-lg"
      [src]="image"
      width="440"
      height="248"
      [alt]="title">
    <div class="absolute top-2 left-2 text-white bg-red-600 text-sm font-medium px-2 rounded">Live</div>
    <div class="absolute bottom-2 left-2 text-white bg-gray-900 text-sm font-medium px-2 rounded bg-opacity-50">{{viewers}} viewers</div>
  </div>

  <div class="p-1 flex">

    <img class="h-8 w-8 rounded-full" [src]="avatar" [alt]="streamer">

    <div class="ml-3 min-w-0">
      <a href="#" class="block text-sm font-semibold tracking-tight text-white hover:text-indigo-400 truncate">{{title}}</a>
      <a href="#" class="block text-sm text-gray-400 hover:text-indigo-400">{{streamer}}</a>
      <a href="#" class="block text-sm text-gray-400 hover:text-indigo-400">{{game}}</a>

      <div class="flex mt-1" *ngIf="tags.length > 0">
        <app-tag *ngFor="let tag of tags">{{tag}}</app-tag>
      </div>
    </div>
  </div>
</div>

