<app-main-nav />

<div class="px-6" *ngIf="(stream$ | async) as streams">

  <app-tabs />

  <h3 class="text-white text-xl font-medium py-4">Toutes les chaînes</h3>

  <div role="list" class="grid grid-cols-1 gap-2 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-5">
    <app-stream-card *ngFor="let stream of streams" [image]="stream.thumbnail_url | resize:440:248" [title]="stream.title"
      [streamer]="stream.user_name" [game]="stream.game_name" [tags]="stream.tags"
      [viewers]="stream.viewer_count" />
  </div>

</div>