<div class="container">
    <div class="stream-list">
        <ng-container *ngFor="let stream of streams">
            <div class="stream-card">
                <img [src]="stream.thumbnail_url | resize:1920:1080" alt="Stream Thumbnail">
                <div class="stream-info">
                    <h3>{{ stream.title }}</h3>
                    <p>{{ stream.user_name }}</p>
                    <p>{{ stream.viewer_count }} vue</p>
                </div>
            </div>
        </ng-container>
    </div>
</div>