<header class="bg-gray-800 sticky top-0 z-30 border-b border-b-gray-700">
  <div class="flex px-0">
    <div class="w-full flex lg:px-0">
      <nav id="nav" class="w-full flex flex-col items-center lg:flex-row lg:h-16">

        <div class="flex mt-4 lg:justify-start lg:mt-0 divide-x divide-gray-700">
          <a routerLink="/directory" routerLinkActive="text-indigo-400 hover:text-indigo-200" href="#"
            class="flex items-center text-lg font-medium text-gray-500 hover:text-gray-400 mr-4 lg:ml-6">
            <rocket-launch-outline-icon class="mr-2" />
            <span>Parcourir</span>
          </a>

          <a routerLink="/following" routerLinkActive="text-indigo-400 hover:text-indigo-200" href="#"
            class="flex items-center text-lg font-medium text-gray-500 hover:text-gray-400">
            <heart-outline-icon class="mr-2 ml-4" />
            <span>Suivis</span>
          </a>
        </div>

        <div class="w-full relative z-0 my-5 flex items-center justify-center px-6">

          <label for="search" class="sr-only">Search</label>

          <div class="relative w-full lg:fixed lg:top-4 lg:w-1/3 xl:w-7/12">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">

              <magnifying-glass-outline-icon class="w-5 text-gray-400 self-start mt-2" />

            </div>
            <input (input)="onInput($event)" id="search" name="search"
              class="block w-full rounded-md border border-transparent bg-gray-700 py-2 pl-10 pr-3 text-sm placeholder-gray-400 focus:border-gray-100 focus:bg-gray-100 focus:text-gray-600 focus:placeholder-gray-600 focus:outline-none focus:ring-white sm:text-sm"
              placeholder="Search" type="search">

              <div *ngIf="inputWritten" class="max-h-96 w-full text-white overflow-y-auto mb-4 rounded-lg scrollbar-thin scrollbar-thumb-indigo-400 scrollbar-track-indigo-200 lg:bg-gray-700">
                <div *ngFor="let categorie of categories">
                  <a [routerLink]="['/directory',categorie.id,'streams']" class="flex justify-start my-2 items-center">
                    <img class="h-12 mx-4 self-start rounded-lg" [src]="categorie.box_art_url" [alt]="categorie.name" >
                    <span class="justify-self-start">
                      {{categorie.name}}
                    </span></a>
                </div>
              </div>

          </div>
        </div>
      </nav>
    </div>
  </div>
</header>