<div class="bg-gray-800 text-white">

    <div class="">
        <iframe class="aspect-video" [src]="url" frameborder="0" height="100%"
            width="100%"></iframe>
    </div>


    <div class="w-full">
        <div class="flex flex-col mt-1 p-3">

            <div class="flex justify-end">
                <button class="flex px-3 py-1 mr-2 text-purple-300 hover:bg-gray-600 hover:rounded-md hover:text-white">
                    <user-outline-icon class="text-white mr-2"></user-outline-icon>
                    Réagir
                </button>
                <button class="flex px-3 py-1 mr-2 rounded-md bg-purple-500 hover:bg-purple-600 ">
                    <heart-outline-icon class="mr-2"></heart-outline-icon>
                    Suivre
                </button>
                <button class="flex px-2 py-1 bg-gray-600 rounded-md">
                    <star-outline-icon class="mr-1"></star-outline-icon>
                    S'abonner
                    <chevron-down-outline-icon class="ml-1"></chevron-down-outline-icon>
                </button>
            </div>

            <div class="sm:self-stretch">
                <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center">

                    <div class="flex items-start">
                        <div class="mr-2">
                            <img [src]="avatar" 
                            class="w-14 h-14 my-4 mx-4 rounded-full border-2 border-red-400 " alt="" srcset="">
                            <p class="w-8 relative left-7 bottom-7 text-center rounded-md text-[11px] font-bold border-2 border-gray-800 text-white bg-red-600">LIVE</p>
                        </div>
                        <div class="w-full">
                            <div class="">
                                <p class="">{{streamer}}</p>
                                <h3>{{title}}</h3>
                            </div>
                            <div class="flex">
                                <p class="mr-2 text-purple-300 font-bold hover:text-purple-500">{{game}}</p>
                                <app-tag class="mr-2" *ngFor="let tag of tags">{{tag}}</app-tag>
                                <app-tag *ngFor="let tag of tags">{{tag}}</app-tag>
                            </div>
                        </div>
                    </div>

                    <div class="flex justify-end flex-wrap self-end sm:self-auto">
                        <div class="flex">
                            <p class="flex mr-1 p-1 text-pink-200">
                                <user-outline-icon m></user-outline-icon>
                                {{viewers}}
                            </p>
                            <p class="mr-1 p-1">01.22.15</p>
                        </div>
    
                        <div class="flex">
                            <button class="flex">
                                <arrow-up-tray-outline-icon class="hover:bg-gray-600 rounded-md p-1"></arrow-up-tray-outline-icon>
                            </button>
                            
                            <button class="flex">
                                <ellipsis-vertical-outline-icon class="hover:bg-gray-600 rounded-md p-1"></ellipsis-vertical-outline-icon>
                            </button>
                        </div>
                    </div>

                </div>

                

            </div>

            
            
        </div>

        <div>

        </div>

    </div>

</div>