<div class="flex items-center justify-center relative" >


  <div class="z-20 animate-pulse hover:cursor-pointer hover:animate-none mr-2">
    <arrow-left-circle-outline-icon color="white" size="44"/>
  </div>

  <div class="flex-col xl:flex-row overflow-hidden relative z-20">

    <div class="relative">
      <img class="rounded" width="530" height="300" src="https://static-cdn.jtvnw.net/previews-ttv/live_user_drakony-530x300.jpg"
           alt="Live">
      <div class="absolute top-2 left-2 text-white bg-red-600 text-sm font-medium px-2 rounded">Live</div>
    </div>

  </div>

  <div class="z-20 animate-pulse hover:cursor-pointer hover:animate-none ml-2">
    <arrow-right-circle-outline-icon color="white" size="44"/>
  </div>

  <div class="z-10 blur-xl opacity-50 absolute top-0 left-0 bottom-0 right-0 bg-cover" style="background-image: url(https://static-cdn.jtvnw.net/previews-ttv/live_user_drakony-530x300.jpg)"></div>

</div>
